@charset "utf-8";

.ownlist {
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    .ownlist__level {
      grid-row: 1/2;
      grid-column: 1/2;
      text-decoration: underline;
      font-weight: bold;
      font-size: 20px;
      width: 60px;
      height: 30px;
      padding-left: 7px;
      margin-bottom: 0;
      margin-right: 0;
    }

    .ownlist__image {
      margin-left: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #8e8e8e;
      grid-row: 2/3;
      grid-column: 1/2;
      margin-right: 0;
      display: block;
    }

    .ownlist-center {
      grid-row: 1/3;
      grid-column: 2/3;
      padding-top: 15px;
      width: 240px;

      .ownlist-center__title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: black;
      }

      .ownlist-center__detail {
        font-size: 14px;
        color: #8c8c8c;
        margin-bottom: 0;
        margin-top: 5px;
      }

      .ownlist-center__tag {
        color: #8c8c8c;
        font-size: 14px;
        margin-top: 5px;
      }

    }

    // .list__deadline {
    //   grid-row: 3/4;
    //   grid-column: 3/4;
    // }

  }

  .no-dialogs{
    text-align: center;
    color: rgb(147, 147, 147);
  }


  @media screen and (min-width: 1020px) {
    .ownlist{
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #bebebe;

    }
  }