@charset "utf-8";

.detail-page {
  padding-top: 170px;
  text-align: center;
  padding-bottom: 200px;

  .detail-page__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
  }

  .detail-usercard {
    width: 194px;
    height: 196px;
    background-color: #ffffff;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    .detail-usercard__image {
      margin-top: 20px;
      width: 60px;
      height: 60px;
      border: 1px solid #8e8e8e;
      border-radius: 50%;
    }

    .detail-usercard__hostname {
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 0.2em;
    }

    .detail-usercard__level {
      font-weight: 800;
      font-size: 18px;
      letter-spacing: 0.1em;
    }

    .detail-usercard__age-residence {
      font-weight: 500;
      font-size: 13px;
      color: #8c8c8c;
      margin-bottom: 10px;
    }
  }

  .detail-outline {
    display: grid;
    .detail-outline__place-svg {
    }

    .detail-outline__place {
    }

    .detail-outline__date-svg {
    }

    .detail-outline__date {
    }

    .detail-outline__number-svg {
    }

    .detail-outline__number {
    }

    .approved-user {
      .approved-user__image {
        width: 45px;
        height: 45px;
        border: 1px solid #8e8e8e;
        border-radius: 50%;
      }
    }

    .detail-outline__hashtag {
    }

    .detail-outline__description {
      // width: 90%;
      margin-left: 20px;
      margin-right: 20px;
      text-align: left;
      border-radius: 5px;
    }
  }

  .button__navigate-chat {
    position: fixed;
    width: 70px;
    height: 70px;
    right: 30px;
    bottom: 200px;

    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  }

  .button__request-join {
    text-align: center;
    margin-top: 100px;
    // position: fixed;
    // top: 85%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // bottom: 90px;
    // right: 30px;
    // left: 50px;
    // bottom: 40px;
    // left: 8.72%;
    // right: 8.72%;
    // top: 88.38%;
    // bottom: 5.3%;

    background-color: #edb886;
    border: none;
    // box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    width: 322px;
    height: 62px;

    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.3em;
    color: #ffffff;
  }
}
