@charset "utf-8";

.tabs {
    // background-color: aqua;

  .tablist {
    width: 100%;
    background-color: #ffffff;
    // box-shadow: 0px -3px 16px 1px rgba(0, 0, 0, 0.09);

    position: fixed;
    top: 63px;
  
    display: flex;
    justify-content: space-around;
    list-style:none;

    // .tab__recruitment-list{
    // }
  }
}
