@charset "utf-8";

.background-image {
  .login-page {
    background-color: #ffffff;
    padding-top: 50px;
    text-align: center;
    height: 100vh;

    .login__title {
      font-weight: 800;
      font-size: 32px;
      line-height: 39px;
      letter-spacing: 0.3em;
      padding-bottom: 30px;
    }

    .login__description {
      padding-bottom: 20px;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.3em;
    }

    .login__google {
      width: 310px;
      height: 51px;
      background: #ffffff;
      border: 2px solid #d9d9d9;
      border-radius: 35px;
      margin-bottom: 40px;
      cursor: pointer;

      p {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        line-height: 10px;
        letter-spacing: 0.1em;
      }
    }
    .login__form {
      display: flex;
      flex-direction: column;
      width: 310px;
      margin-left: auto;
      margin-right: auto;
      gap: 40px;

      .login__email {
        height: 36px;
        background-color: #ffffff;
        border: 2px solid #d9d9d9;
        border-radius: 5px;
        cursor: pointer;
      }

      .login__password {
        height: 36px;
        background-color: #ffffff;
        border: 2px solid #d9d9d9;
        border-radius: 5px;
        cursor: pointer;
      }

      .login__subumit-button {
        color: #edb886;
        background-color: #ffffff;
        font-weight: 800;
        line-height: 100%;
        font-size: 20px;
        letter-spacing: 0.3em;
        height: 62px;
        border: 3px solid #edb886;
        border-radius: 30px;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.3s;
        cursor: pointer;

        p {
          padding-left: 5px;
        }
      }
      .login__subumit-button:hover {
        color: #ffffff;
        background-color: #edb886;

        border: 3px solid #edb886;
        line-height: 100%;
      }
    }

    .login__navigate-signup {
      display: block;
      margin-top: 60px;
      border: none;
      background-color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      color: inherit;
    }
  }
}

@media screen and (min-width: 1020px) {
  .background-image {
    background-image: url("./background-image.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    .login-page {
      width: 400px;
      height: 700px;
      border-radius: 35px;
      background-color: #ffffff;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
