@charset "utf-8";

.notification-page {
    margin-top: 60px;
  .notification-no-exist {
    padding-top: 160px;
  }

  .request__list {
    margin-top: 60px;
    text-align: center;
    font-size: 14px;
    padding-bottom: 10px;
    .request__title {
      font-size: 20px;
      font-weight: 600;
      
    }

    .request__username {
      font-size: 20px;
      font-weight: 600;
    }

    .button {
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
      .approved-button {
        width: 90px;
        height: 50px;
        border: none;
        font-weight: 600;
        background-color: #edb886;
        background-color: #edb886;
        border-radius: 30px;
        color: #ffffff;
        letter-spacing: 0.2em;
      }

      .reject-button {
        border: none;
        background-color: #ffffff;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

@media screen and (min-width: 1020px) {
  .notification-page {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    .request__list {
      background-color: #ffffff;
      width: 550px;
      // height: 600px;
      margin-left: auto;
      margin-right: auto;

      .button {
      .approved-button {
        float: right;
      }

      .reject-button {
        float: left;
      }
    }
    }
  }
}
